@import "normalize";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700&subset=cyrillic");

* {
  font-family: "Roboto";
}

.card-building {
  padding: 20px 30px;
  width: 473px;
  box-sizing: border-box;
  box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.5), inset 0 -64px 0 #f0f1f4;
  border-radius: 4px;
  border: 1px solid #c6c7cc;
  background-color: #ffffff;
  position: relative;
}

.card-building__button-close {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url(../img/ic_close_16_normal.svg) no-repeat center/cover;
  right: 15px;
  top: 15px;
  &:hover {
    cursor: pointer;
  }
}

.card-building__developer {
  color: #2a313b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.card-building__complex-name {
  color: #2a313b;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}

.card-building__address {
  color: #2a313b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.location-icon {
  width: 12px;
  height: 16px;
  background: url(../img/ic_location_16_normal.svg) no-repeat center/cover;
  margin-right: 6px;
}

.card-carousel__wrapper {
  width: 180px;
  height: 135px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.card-carousel__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2a313bb3;
  position: absolute;
  top: ~"calc(50% - 20px)";
  transition: background-color 400ms;
  z-index: 2;
  &:hover {
    background-color: #2a313b;
    cursor: pointer;
  }

  &_prev {
    left: -20px;
    background-image: url(../img/ic_arrow_left_16_white.svg);
    background-repeat: no-repeat;
    background-position: 75% center;
  }

  &_next {
    right: -20px;
    background-image: url(../img/ic_arrow_right_16_white.svg);
    background-repeat: no-repeat;
    background-position: 25% center;
  }
}

.card-carousel__slides {
  position: relative;
}

.card-carousel__page-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}

.card-carousel__page-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 2px;

  &_active {
    background-color: #f8ce46;
  }
}

.verified-block {
  display: flex;
  align-items: center;
  width: 113px;
  height: 20px;
  border-radius: 2px;
  background-color: #6cb406;
  color: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.verified-block__icon {
  width: 16px;
  height: 16px;
  background: url(../img/ic_tick_16_disable.svg) center/cover;
  margin-bottom: 5px;
  margin-right: 7px;
}

.price-list-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e3ea;
  padding: 7px 0 5px;
}

.price-list-item__title {
  color: #2a313b;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

.price-list-item__bottom {
  display: flex;
  justify-content: space-between;
}

.price-list-item__value {
  color: #2a313b;
  font-size: 12px;
  font-weight: 400;
}

.card-building__complex-info {
  display: flex;
  margin-bottom: 18px;
}

.card-building__carousel {
  margin-right: 25px;
}

.card-building__price-list {
  flex-grow: 1;
}

.complex-price-list__links {
  display: flex;
}

.complex-price-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 16px 0;
  color: #2a313b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.complex-price-list__icon {
  width: 22px;
  height: 22px;
  margin-bottom: 6px;
}

.complex-price-list__icon_heart {
  background: url(../img/ic_favorite_24_normal.svg) center/cover;
}

.complex-price-list__icon_compare {
  background: url(../img/ic_compare_24_normal.svg) center/cover;
}

.building-status__scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.building-status__title {
  color: #94989d;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;

  &_finish {
    text-align: right;
  }
}

.building-status__date {
  color: #2a313b;
  font-size: 12px;
  font-weight: 400;
}

.building-status__percent {
  color: #94989d;
  font-size: 16px;
  font-weight: 700;
}

.building-status__progress {
  display: flex;
  width: 100%;
  height: 24px;
  color: #2a313b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.building-progress {
  display: flex;
  align-items: center;
  position: relative;

  span {
    position: absolute;
    white-space: nowrap;
    padding: 0 16px;
  }
}

.building-progress_passed {
  background-color: #f8ce46;
  width: 29%;
  border-radius: 4px 0 0 4px;
}

.building-progress_left {
  background-color: #8d9099;
  flex-grow: 1;
  justify-content: flex-end;
  color: #fff;
  border-radius: 0 4px 4px 0;
}

.card-building__status {
  margin-bottom: 20px;
}

.infrastructure-item {
  display: flex;
  align-items: center;
  color: #2a313b;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e1e3ea;

  &:last-of-type {
    border-bottom: none;
  }
}

.infrastructure-object {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.infrastructure-object__icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.infrastructure-object__icon_bus-stop {
  background: url(../img/ic_busstop_32_normal.svg) center/cover;
}

.infrastructure-object__icon_park {
  background: url(../img/ic_park_32_normal.svg) center/cover;
}

.infrastructure-object__icon_shop {
  background: url(../img/ic_shop_32_normal.svg) center/cover;
}

.infrastructure-object__icon_gym {
  background: url(../img/ic_gym_32_normal.svg) center/cover;
}

.item-characteristic {
  display: flex;
  align-items: center;
  width: 95px;
}

.item-characteristic__icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-left: 24px;
}

.item-characteristic__icon_distance {
  background: url(../img/ic_distance_disable.svg);
}

.item-characteristic__icon_walk {
  background: url(../img/ic_directions_walk_disable.svg);
}

.item-characteristic__icon_car {
  background: url(../img/ic_direction_car_disable.svg);
}

.card-building__infrastructure {
  margin-bottom: 45px;
}

.card-building__buttons {
  display: flex;
  justify-content: space-between;
}

.card-building__button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #f8ce46;
  color: #2a313b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  width: 215px;
  &:hover {
    background-color: #ffbf00;
  }

  &_not-interesting {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid #f8ce46;
    background-color: #ffffff;
    width: 177px;
  }
}

@media (max-width: 526px) {
  .card-building {
    width: 320px;
    padding: 20px 15px;
    box-shadow: inset 0 -140px 0 #f0f1f4;
  }

  .card-building__complex-info {
    flex-direction: column;
  }

  .card-building__carousel {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card-carousel__wrapper {
    width: 100%;
    height: auto;
  }

  .card-carousel__slide {
    img {
      width: 100%;
    }
  }

  .card-carousel__page-dots {
    margin-bottom: 15px;
  }

  .price-list-item__bottom {
    justify-content: flex-start;
  }

  .price-list-item__value {
    margin-right: 25px;
  }

  .complex-price-list__link {
    margin: 13px 25px 0;
  }

  .complex-price-list__links {
    justify-content: center;
  }

  .infrastructure-object {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .item-characteristic {
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    width: 40px;

    &:nth-child(2) {
      margin-left: auto;
    }
  }

  .item-characteristic__icon {
    margin: 0 0 5px;
  }

  .infrastructure-item {
    padding-right: 10px;
  }

  .card-building__buttons {
    flex-direction: column;
  }

  .card-building__button {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
  }

  .card-building__button_not-interesting {
    margin-top: 24px;
  }
}
