@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,600i,700,800&subset=cyrillic');
body {
  font-family: "Open Sans";
  line-height: 1.2;
}
.order__title {
  color: #111011;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 27px;
}
.order__text {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 70px;
}
.order__time {
  color: #111011;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.catalog-order {
  padding: 25px 20px 20px 30px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.catalog-order:hover {
  border: 1px solid #42e7f4;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.52);
}
.order__left {
  width: 75%;
}
.order__right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.order__quantity {
  color: #111011;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
}
.order__button {
  color: #111011;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  background-color: #42dfeb;
  background-image: -webkit-linear-gradient(bottom, #42dfeb 0%, #42e8f5 100%);
  background-image: linear-gradient(to top, #42dfeb 0%, #42e8f5 100%);
  border: none;
  border-radius: 5px;
  margin-top: 36px;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.order__button:hover {
  background: #f1543f;
  cursor: pointer;
}
.catalog-wrapper {
  background: #ebedf1;
  padding-top: 50px;
  padding-bottom: 110px;
}
.locked-message {
  display: none;
}
.order__right-locked .order__button {
  display: none;
}
.order__right-locked .locked-message {
  margin-top: 48px;
  display: inline-block;
  text-align: center;
  color: #111011;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
}
.order__right-locked .locked-message img {
  margin-right: 10px;
}
.form {
  padding: 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
  background-color: #ffffff;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.form input {
  color: #222020;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}
.form__title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 23px;
}
.input {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__buttons input {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #42e8f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #42e8f5;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  border-radius: 5px;
}
.form__buttons input:hover {
  cursor: pointer;
  background: #f1543f;
}
.catalog__button-reset,
.catalog__button-submit {
  width: 45%;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 95px;
  margin-bottom: 10px;
}
.catalog__button-reset input {
  background-color: #fff;
  color: #000;
  color: #42e7f3;
}
.catalog__button-reset input:hover {
  color: #fff;
  background: #42e7f3;
}
.catalog-top {
  padding-top: 90px;
  padding-bottom: 17px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
  background-color: #ffffff;
}
.catalog__title {
  color: #09b009;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.catalog__info {
  color: #111011;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-bottom: 0;
}
.catalog-top__button {
  width: 100%;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.39);
  background-color: #3ce43f;
  background-image: -webkit-linear-gradient(bottom, #08ae08 0%, #42eb46 100%);
  background-image: linear-gradient(to top, #08ae08 0%, #42eb46 100%);
  padding: 25px 0;
  border: none;
  border-radius: 5px;
  color: #111011;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.catalog-top__button:hover {
  background-image: none;
  cursor: pointer;
  background-color: #3ce43f;
}
.page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 54px;
}
.page-list__page {
  list-style: none;
  margin-right: 30px;
}
.page-list__page a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: solid 1px #6f7072;
  color: #6f7072;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.page-list__page a:hover {
  background: #d7d8da;
  text-decoration: none;
}
.page-list_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-list__page_active a {
  background: #6f7072;
  color: #fff;
}
.page-list__page_active a:hover {
  background: #8d8e90;
}
@media (min-width: 1226px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .catalog-main {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 768px) {
  .catalog-top {
    padding-top: 130px;
  }
}
@media (max-width: 576px) {
  .catalog-top {
    padding-top: 140px;
  }
  .catalog-order {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order__left,
  .order__right {
    width: 100%;
  }
  .order__right {
    margin-top: 40px;
  }
  .catalog-top__button {
    margin-top: 20px;
  }
  .page-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-list__page {
    margin-right: 0;
  }
  .page-list__page a {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 355px) {
  .catalog-top {
    padding-top: 155px;
  }
}
